@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Barlow:wght@600&family=Lato:wght@700&display=swap');

:root {
    --font-family: 'Lato', sans-serif;
    --bg-color: #A66CFF;
    --primary-color: #F1F1F1;
    --btn-color-hover: #590696;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    /*tamanho mínimo de nossa janela*/
    min-height: 100vh;
    display: flex;
    /*colocando uma direção*/
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1 {
    font-size: 4em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid;
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar {
    padding: 8px 15px;
    border: 0;
    background-color: var(--primary-color);
    border-radius: 8px;
    margin-top: 20px;
    font-size: 15px;
}

.btn-jogar:hover {
    background-color: var(--btn-color-hover);
    color: var(--primary-color);
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 1.5em;
    }
    
    .btn-jogar {
        font-size: 13px;
    }
}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 2em;
    }
    
    h2 {
        font-size: 2em;
    }
    
    h3 {
        font-size: 1.3em;
    }

    .btn-jogar {
        font-size: 10px;
    }
}